body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 40px;
  background-color: #fff;
  color: #202020;
}

h1,
h2,
h3 {
  color: #972f23;
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin-top: 30px;
}

p {
  margin-bottom: 15px;
}

ul {
  margin: 0px;
}
